{% extends 'layout.html.twig' %}
{% block title %}Editar Conta a Receber{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column">
            <p class="panel-heading is-uppercase has-text-weight-bold has-text-white has-background-dark">{{ block('title') }}</p>
            <div class="panel-block is-block has-background-white">
                {% set action = route('bill-receives.update', { 'id': bill.id }) %}
                {% set submitIcon = 'fa-pen-square' %}
                {% set submitLabel = 'Editar' %}
                {% include 'bill-receives/_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
